.footer {
    display: flex;
    align-items: center;
    margin: -0.5rem -3.5rem;
    position: relative;
    margin-top: -7em;
}

.f-content {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    flex-direction: column;
    margin-top: 4rem;
    gap: 4rem;
    color: white;
}

.f-icons {
    display: flex;
    gap: 2rem;
}